<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>tBFeb0lUKicBLDm41lSsQ11J1NcIMHlQ8TTrPnceUbEBQEFldH3/jhyAS/jrsf5pq6rOcTrIxeWX511CLg/JU3ieIyR/MKzEIylpXqGC67sCIV4YdUaBaAU7OTLn0CdU1BQ5PzdM25Z2OeoduMl2vKjty81Ohfu+ghnpsKbJ5uw=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>Gxd7nQx5ehRE/2nbnaVk3VJ8BQRmYYLiOo7mAy6IPq64XmNpgyIewEkzmQ8XIgxeDFDdhyUDhjZi2HxAvgyJuJjfpOfoiDNAn8PQzVpdk8pOGIYzA4BAxw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
</configuration>